<ion-header>
    <ion-navbar>
        <ion-title>Kan Talepleri Listesi</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-card col-12 col-md-8 offset-md-2 no-padding [ngStyle]="{opacity: true ? '.5' : '1'}">
        <ion-card-header class="bg-primary text-white">
            <div class="font-125" float-left>Cihan Çelen</div>
            <div class="font-125 bold" float-right>7 Ünite</div>
        </ion-card-header>

        <ion-card-content padding class="position-relative">

            <div class="camed-request">
                Gidildi</div>

            <div style="font-size: 110%">Ataşehir Memorial Hastanesi</div>
            <div class="address">
                Küçükbakkalköy Mah. Hal Cad. İbrahimtopluoğlu Sk. No:1
                Ataşehir / İstanbul
            </div>

        </ion-card-content>
    </ion-card>

    <ion-card col-12 col-md-8 offset-md-2 no-padding [ngStyle]="{opacity: false ? '.5' : '1'}">
        <ion-card-header class="bg-primary text-white">
            <div class="font-125" float-left>Melisa Ok</div>
            <div class="font-125 bold" float-right>3 Ünite</div>
        </ion-card-header>

        <ion-card-content padding class="position-relative">

            <div *ngIf="false" class="camed-request">
                Gidildi</div>

            <div style="font-size: 110%">Ataşehir Memorial Hastanesi</div>
            <div class="address">
                Küçükbakkalköy Mah. Hal Cad. İbrahimtopluoğlu Sk. No:1
                Ataşehir / İstanbul
            </div>

        </ion-card-content>
    </ion-card>

</ion-content>