.position-relative {
    position: relative;
}

.camed-request {
    position: absolute;
    right: 10px;
    transform: rotate(10deg);
    color: rgba(0, 0, 0, .4);
    font-size: 250%;
    font-weight: bold;

}