<ion-header></ion-header>

<ion-content padding class="bg-light">

  <ion-card col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 no-padding>
    <ion-card-header class="bg-primary">
      <h3 text-center class="bold font-125 text-white">HAYAT KANALI</h3>
    </ion-card-header>
    <ion-card-content>

      <ion-segment [(ngModel)]="segment">
        <ion-segment-button value="login">
          Giriş Yap
        </ion-segment-button>
        <ion-segment-button value="signup">
          Kayıt Ol
        </ion-segment-button>
      </ion-segment>

      <div [ngSwitch]="segment">
        <div *ngSwitchCase="'login'">

          <ion-list>
            <ion-item item-start>
              <ion-label floating>E-posta yada Kullanıcı Adı</ion-label>
              <ion-input type="text" [(ngModel)]="username"></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-label floating>Parola</ion-label>
              <ion-input type="password" [(ngModel)]="password"></ion-input>
            </ion-item>

            <ion-row no-margin margin-top radio-group [(ngModel)]="loginType">
              <ion-col>
                <ion-item>
                  <ion-label>Kullanıcı</ion-label>
                  <ion-radio value="default-user"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label>Hastane</ion-label>
                  <ion-radio value="hospital"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label>Personel</ion-label>
                  <ion-radio value="personel"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-list>

          <button ion-button margin-top block (click)="login()">
            Giriş Yap
          </button>
          
        </div>
        <div *ngSwitchCase="'signup'">

          <ion-list>
            <ion-row>
              <ion-col ion-item class="margin-right-5">
                <ion-label floating>Ad</ion-label>
                <ion-input type="text" [(ngModel)]="user.name"></ion-input>
              </ion-col>
              <ion-col ion-item>
                <ion-label floating>Soyad</ion-label>
                <ion-input type="text" [(ngModel)]="user.surname" required></ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col ion-item class="margin-right-5">
                  <ion-label floating>Mail</ion-label>
                  <ion-input type="mail" [(ngModel)]="user.email" required></ion-input>
              </ion-col>
              <ion-col ion-item>
                  <ion-label floating>Telefon</ion-label>
                  <ion-input type="tel" [(ngModel)]="user.phone" required></ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
                <ion-col ion-item class="margin-right-5">
                  <ion-label floating>Parola</ion-label>
                  <ion-input type="password" [(ngModel)]="user.password" required></ion-input>
                </ion-col>
                <ion-col ion-item>
                  <ion-label floating>Parola(Tekrar)</ion-label>
                  <ion-input type="password" [(ngModel)]="user.repassword" required></ion-input>
                </ion-col>
              </ion-row>

            <ion-row>
              <ion-col ion-item>
                <ion-label floating>Tc Kimlik No</ion-label>
                <ion-input type="text" [(ngModel)]="user.tcKimlik" required></ion-input>
              </ion-col>
              
              <ion-col ion-item>
                <ion-label floating>Doğum Tarihi</ion-label>
                <ion-datetime [(ngModel)]="user.birthday" required #datetime cancelText="İptal" doneText="Tamam" displayFormat="DD MMMM YYYY" class="border-bottom"></ion-datetime>
              </ion-col>
            </ion-row>
            
            <ion-row>
              <ion-col ion-item no-padding>
                <ion-label floating>İl</ion-label>
                <ion-select [(ngModel)]="user.city" (ionChange)="findDistrict(user.city)" required class="border-bottom" cancelText="İptal" okText="Tamam">
                  <ion-option selected value="0" disabled>Lütfen bir il seçiniz.</ion-option>
                  <ion-option *ngFor="let item of citiesAndDistricts" value="{{ item.plaka }}">{{ item.il }}</ion-option>
                </ion-select>
              </ion-col>

              {{user.city}}
              
              <ion-col ion-item no-padding>
                <ion-label floating>İlçe</ion-label>
                <ion-select [(ngModel)]="user.district" [disabled]="!user.city" required class="border-bottom" cancelText="İptal" okText="Tamam">
                  <ion-option selected value="0" disabled>Lütfen bir ilçe seçiniz.</ion-option>
                  <ion-option *ngFor="let item of districtByCity?.ilceleri" value="{{ item }}">{{ item }}</ion-option>
                </ion-select>
              </ion-col>
            </ion-row>
            
            <ion-row>
              <ion-col ion-item no-padding>
                <ion-label floating>Kan Grubu</ion-label>
                <ion-select [(ngModel)]="user.bloodGroup" required class="border-bottom" cancelText="İptal" okText="Tamam">
                  <ion-option selected value="0">Lütfen bir kan grubu seçiniz.</ion-option>
                  <ion-option *ngFor="let item of bloodGroups" value="{{ item.id }}">{{ item.name }}</ion-option>
                </ion-select>
              </ion-col>
              <ion-col ion-item no-padding>
                <ion-label floating>Kalıtsal Rahatsızlık</ion-label>
                <ion-select [(ngModel)]="user.disease" required multiple="true" class="border-bottom" cancelText="İptal" okText="Tamam">
                  <ion-option selected value="0"></ion-option>
                  <ion-option *ngFor="let item of diseases" value="{{ item.id }}">{{ item.name }}</ion-option>
                </ion-select>
              </ion-col>
            </ion-row>
            
          </ion-list>
          
          <button ion-button block margin-top (click)="register()">Kayıt Ol</button>
          
        </div>
      </div>
          
    </ion-card-content>
  </ion-card>
  
</ion-content>
