<ion-header>
  <general-toolbar [pageName]="'Anasayfa'"></general-toolbar>
</ion-header>

<general-menu></general-menu>

<ion-content class="bg-light">

  <ion-grid>
    <ion-row>
      <ion-col col-12 col-lg-3 style="margin-top:25px;">
        <ion-grid>
          <ion-row>
            <ion-col no-padding col-12>
              <ion-card no-padding>
                <ion-card-content no-margin no-padding style="height:75px">
                  <ion-row class="height-100 line-height-75">
                    <ion-col col-3 text-center class="bg-primary">
                      <ion-icon name="water" class="text-white" style="font-size: 200%"></ion-icon>
                    </ion-col>
                    <ion-col>
                      <h1>356</h1>
                      <p style="font-size:14px">Günlük talep edilen ünite sayısı</p>
                    </ion-col>
                  </ion-row>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col no-padding col-12>
              <ion-card no-padding>
                <ion-card-content no-margin no-padding style="height:75px">
                  <ion-row class="height-100 line-height-75">
                    <ion-col col-3 text-center class="bg-tourquaz">
                      <ion-icon name="person" class="text-white" style="font-size: 200%"></ion-icon>
                    </ion-col>
                    <ion-col>
                      <h1>1002</h1>
                      <p style="font-size:13px">Aylık donör sayısı</p>
                    </ion-col>
                  </ion-row>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col no-padding col-12>
              <ion-card no-padding>
                <ion-card-content no-margin no-padding style="height:75px">
                  <ion-row class="height-100 line-height-75">
                    <ion-col col-3 text-center class="bg-orange">
                      <ion-icon name="archive" class="text-white" style="font-size: 200%"></ion-icon>
                    </ion-col>
                    <ion-col>
                      <h1>2034</h1>
                      <p style="font-size:13px">Hasta sayısı</p>
                    </ion-col>
                  </ion-row>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col no-padding col-12>
              <ion-card no-padding>
                <ion-card-content no-margin no-padding style="height:75px">
                  <ion-row class="height-100 line-height-75">
                    <ion-col col-3 text-center class="bg-green">
                      <ion-icon name="home" class="text-white" style="font-size: 200%"></ion-icon>
                    </ion-col>
                    <ion-col>
                      <h1>244</h1>
                      <p style="font-size:13px">Aylık bağış bekleyen hasta sayısı</p>
                    </ion-col>
                  </ion-row>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>

      <ion-col [ngStyle]="{'height.px': windowHeight - 100}" style="overflow: scroll">
        <ion-segment [(ngModel)]="segmentType">
          <ion-segment-button value="active">
            Aktif Kan Talepleri
          </ion-segment-button>
          <ion-segment-button value="deactive">
            Pasif Kan Talepleri
          </ion-segment-button>
        </ion-segment>

        <div [ngSwitch]="segmentType">
          <div *ngSwitchCase="'active'">
            <ion-list class="border-1" *ngIf="activeRequests.length > 0">
              <request-item *ngFor="let request of activeRequests" [request]="request" (click)="goDetail(request)"></request-item>
            </ion-list>

            <ion-card *ngIf="activeRequests.length == 0" no-margin class="width-100">
              <ion-card-content>

                Aktif kan talebi bulunmamaktadır.
              </ion-card-content>
            </ion-card>
          </div>

          <div *ngSwitchCase="'deactive'">
            <ion-list class="border-1" *ngIf="deactiveRequests.length > 0">
              <request-item *ngFor="let request of deactiveRequests" [request]="request" (click)="goDetail(request)"></request-item>
            </ion-list>

            <ion-card *ngIf="deactiveRequests.length == 0" no-margin class="width-100">
              <ion-card-content>

                Pasif kan talebi bulunmamaktadır.
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>






</ion-content>