<ion-header>

  <ion-navbar>
    <ion-title>blood-request-detail</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="bg-light">

  <ion-card margin-top>
    <ion-card-header>
      <p text-center class="font-125" no-padding no-margin>Hasta Bilgileri</p>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item margin-top>
          <ion-label floating>TC Kimlik</ion-label>
          <ion-input type="text" [(ngModel)]="bloodRequest?.patient.identificationNo" maxlength="11"></ion-input>
        </ion-item>

        <ion-row>
          <ion-col ion-item>
            <ion-label floating>Ad</ion-label>
            <ion-input type="text" [(ngModel)]="bloodRequest?.patient.name"></ion-input>
          </ion-col>

          <ion-col ion-item>
            <ion-label floating>Soyad</ion-label>
            <ion-input type="text" [(ngModel)]="bloodRequest?.patient.surname"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col ion-item>
            <ion-label floating>Telefon</ion-label>
            <ion-input type="tel" [(ngModel)]="bloodRequest?.patient.phone"></ion-input>
          </ion-col>

          <ion-col ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="email" [(ngModel)]="bloodRequest?.patient.email"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col ion-item no-padding>
            <ion-label floating>Cinsiyet</ion-label>
            <ion-select class="border-bottom" [(ngModel)]="bloodRequest?.patient.gender" cancelText="İptal" okText="Tamam">
              <ion-option value="Erkek">Erkek</ion-option>
              <ion-option value="Kadın">Kadın</ion-option>
            </ion-select>
          </ion-col>

          <ion-col ion-item no-padding>
            <ion-label floating>Doğum Tarihi</ion-label>
            <ion-datetime class="border-bottom" [(ngModel)]="bloodRequest?.patient.birthday" required #datetime cancelText="İptal"
              doneText="Tamam" displayFormat="DD MMMM YYYY"></ion-datetime>
          </ion-col>
        </ion-row>

        <ion-item no-padding>
          <ion-label floating>Kan Grubu</ion-label>
          <ion-select class="border-bottom" [(ngModel)]="bloodRequest?.patient.bloodGroupId" cancelText="İptal" okText="Tamam">
            <ion-option *ngFor="let item of bloodGroups" value="{{item.id}}">{{ item.name }}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label floating>Hastalık</ion-label>
          <ion-input type="text" [(ngModel)]="bloodRequest?.patient.disease"></ion-input>
        </ion-item>

        <ion-item no-padding>
          <ion-label floating>Doktor</ion-label>
          <ion-select [(ngModel)]="bloodRequest?.patient.doctorId" cancelText="İptal" okText="Tamam">
            <ion-option *ngFor="let item of doctors" value="{{ item.id }}">{{ item.name }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <p class="font-125" text-center no-padding no-margin>Kullanıcılar</p>
    </ion-card-header>
    <ion-card-content>

      <ion-list>
        <ion-item *ngFor="let item of userRequests">

          <ion-row>
            <ion-col>
              <span><b>#{{ item.id }}</b> {{ item.name }} {{ item.surname }}</span>
            </ion-col>

            <ion-col>
              <span>{{ item.email }}</span>
            </ion-col>
            
            <ion-col>
              <button float-right round no-margin no-margin ion-button (click)="came(item)">
                Verdi
              </button>
            </ion-col>
          </ion-row>

        </ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card>

</ion-content>