<ion-list class="border-1">
  <button ion-item *ngFor="let patient of patients" no-padding>
    <ion-row padding-left>

      <ion-col>
        <span>#{{patient.id}} {{ patient.name }} <b>{{ patient.surname }}</b></span>
      </ion-col>

      <!-- <ion-col col-1></ion-col> -->
      <ion-col col-1>
        <b>{{ patient.bloodGroup }}</b>
      </ion-col>

      <ion-col>
        <span> {{ patient.patient }} </span>
      </ion-col>

      <ion-col text-right>
        <b class="text-danger" *ngIf="patient.emergency">Acil</b>
      </ion-col>

    </ion-row>
  </button>
</ion-list>