<ion-header>

</ion-header>

<ion-content>

  <div class="limiter">
    <div class="container-login100" style="background-image: url('../../assets/login/images/bg-01.jpg');">
      <div class="wrap-login100">
        <form class="login100-form validate-form">
          <span class="login100-form-logo" style="background:none">
            <img src="../../assets/imgs/hayatkanali-inverted-logo.png" alt="hayat kanalı">
          </span>

          <span class="login100-form-title p-b-34 p-t-27">
            KULLANICI GİRİŞ PANELİ
          </span>

          <form [formGroup]="loginForm">
            <div class="wrap-input100 validate-input">
              <input autocomplete="off" class="input100" formControlName="email" type="text" name="username" placeholder="E-posta">
              <span class="focus-input100" data-placeholder="&#xf207;"></span>
              <div *ngIf="!lf.email.valid && isSubmit">
                <div class="text-white" *ngIf="lf.email.errors.required">Eposta gerekli</div>
                <div class="text-white" *ngIf="lf.email.errors.pattern">Eposta adresi yanlış formatta.</div>
              </div>
            </div>


            <div class="wrap-input100 validate-input">
              <input class="input100" formControlName="password" type="password" name="pass" placeholder="Parola">
              <span class="focus-input100" data-placeholder="&#xf191;"></span>
              <div *ngIf="!lf.password.valid && isSubmit">
                <div class="text-white" *ngIf="lf.password.errors.required">Parola gerekli</div>
                <div class="text-white" *ngIf="lf.password.errors.minlength">En az 3 karakter olmalı</div>
              </div>
            </div>


            <div class="contact100-form-checkbox">
              <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
              <label class="label-checkbox100" for="ckb1">
                Beni hatırla
              </label>
            </div>

            <div class="container-login100-form-btn">
              <button class="login100-form-btn" (click)="login()">
                Giriş Yap
              </button>
            </div>
          </form>

          <div class="text-center p-t-60" style="font-size:17px; color:white" (click)="routeSignUp()">
            Henüz kayıtlı değilsen Kayıt Ol.
          </div>
        </form>
      </div>
    </div>
  </div>

</ion-content>